body {
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* -----------    ----------- */

.section-title {
  font-size: 24px;
  color: #000;
}

.section-main-text {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

/* -----------    ----------- */

/* todo------- header ------- */

.header {
  backdrop-filter: blur(35px);
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
}

.header-title {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

.header-menu {
}

.header-menu-list {
}

.header-menu-item {
}

.header-menu-link {
  font-size: 12px;
  color: #fff;
}

/* -----------    ----------- */

/* todo------- hero ------- */

.hero {
  background-color: #06071b;
}

.hero-title {
  font-size: 40px;
  color: #fff;
}

.hero-subtitle {
  font-size: 20px;
  color: #fff;
}

.hero-list {
}

.hero-list-item {
}

.hero-item-text {
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  border-radius: 5px;
  width: 200px;
  height: 42px;

  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);

  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.hero-btn:hover {
  background: #06071b;
}

.hero-btn:active {
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}

.hero-image {
}

/* -----------    ----------- */

/* todo------- features ------- */

.features {
}

.features-title {
}

.features-text {
}

.features-list {
}

.features-list-item {
}

.features-list-title {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.features-list-text {
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.features-image {
}

/* -----------    ----------- */

/* todo------- video ------- */

.video {
  background-color: #06071b;
}

.video-title {
  color: #fff;
}

.video-text {
  color: #fff;
}

.video-image {
}

/* -----------    ----------- */

/* todo------- team ------- */

.team {
}

.team-title {
}

.team-text {
  line-height: 1.5;
  text-align: center;
}

.team-list {
}

.team-list-item {
  background-color: gray;
}

.team-list-image {
}

.team-list-subtitle {
  font-size: 18px;
  color: #fff;
}

.team-list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #fff;
}

/* -----------    ----------- */

/* todo------- customers ------- */

.customers {
}

.customers-title {
}

.customers-image {
}

.customers-subtitle {
  font-size: 18px;
  color: #000;
}

.customers-subtext {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #000;
}

.customers-text {
  line-height: 1.5;
  text-align: center;
}

/* -----------    ----------- */

/* todo------- footer ------- */

.footer {
  background-color: #06071b;
}

.footer-title {
  color: #fff;
}

.footer-main-text {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.footer-social-list {
}

.footer-sicial-item {
}

.footer-social-link {
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.footer-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

/* -----------    ----------- */
